body {
  background-color: #45474a;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
li,
a {
  font-family: sans-serif;
  color: #fff;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header {
  background-color: #111;
  padding: 2em;
}

ul.header li a {
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  padding: 5em;
}

ul.header li a:hover {
  color: rgb(0, 217, 255);
}

div.content {
  padding: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
